apispec==2.0.2
attrs==19.1.0
bcrypt==3.1.7
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
easydict==1.9
idna==2.8
jsonschema==3.0.2
motor==1.2.1
motorengine==1.0.0
openapi-spec-validator==0.2.8
prance==0.16.0
pycparser==2.19
PyJWT==1.7.1
pymongo==3.6.0
pyrsistent==0.15.4
PyYAML==5.1.2
requests==2.22.0
semver==2.8.1
simplejson==3.16.0
six==1.12.0
tornado==6.0.3
tornado-swirl==0.1.19
urllib3==1.25.3
